---
import BaseLayout from "../layouts/BaseLayout.astro";
import TechStack from "../components/TechStack.tsx";
import StaticBlobs from "../components/HibubbaIO/StaticBlobs";
---

<BaseLayout>
    <div class="about-section my-8 px-6 max-w-4xl mx-auto space-y-8 text-center">

        <div class="container mx-auto px-6 lg:px-16">
            <div class="max-w-4xl mx-auto text-center">
                <p class="text-lg text-gray-400 leading-relaxed mb-12">

                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <!-- Placeholder for personal details section -->
                <div class="flex flex-col items-start p-8 bg-black bg-opacity-70 rounded-lg shadow-lg">
                    <h2 class="text-2xl md:text-3xl font-semibold mb-4">Who I Am</h2>

                    <p class="text-gray-400 leading-relaxed text-left">
                        I'm Andreas, a 22 year old student from Stockholm, Sweden. <br>

                    </p>
                </div>
                <!-- Placeholder for professional skills section -->
                <div class="flex flex-col items-start p-8 bg-black bg-opacity-70 rounded-lg shadow-lg">
                    <h2 class="text-2xl md:text-3xl font-semibold mb-4">My Work</h2>
                    <p class="text-gray-400 leading-relaxed text-left">
                        In my career in music, I've had the pleasure to work as a drummer, producer,
                        mixing engineer and live technitian all around the world.
                        It has been a great experience to learn and grow in this field.
                        But time has come to try new things in life.
                        I'm currently studying coding and system development at Nackademin in Stockholm, and will be doing <br>
                        an internship at WSI Sigma in Stockholm through out the year.
                    </p>
                </div>
                <div class="mt-auto flex flex-col items-center p-8 bg-black rounded-lg shadow-lg text-left ">
                    <div class="flex items-center justify-center ">
                        <TechStack/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</BaseLayout>