---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.tsx";
---

<BaseLayout title="Contact" description="Contact me" current="/contact">
    <h1 slot="hero"></h1>

    <ContactForm client:load />
</BaseLayout>