---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardProjects from "../components/CardProjects.tsx";
---
<BaseLayout title="Projects" subtitles="Some of my projects" current="/projects">
    <div class="z-40">
        <CardProjects client:load />
    </div>
</BaseLayout>