---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardProjects from "../components/CardProjects.tsx";
---
<BaseLayout title="Projects" subtitles="Some of my projects" current="/projects">
    <div class="z-40">
        <!-- NEW wrapper -->
        <div class="max-w-6xl mx-auto px-4 md:px-1">
            <CardProjects client:load />
        </div>
    </div>
</BaseLayout>