---
// Banner.astro
import HoverBlobs from "./HibubbaIO/HoverBlobs.tsx";
import StaticBlobs from "./HibubbaIO/StaticBlobs";
---
<div class="sticky top-9 z-50 banner py-6 overflow-visible">
    <nav class="grid grid-cols-[1fr_auto_1fr] items-center gap-4 overflow-visible">


        <div></div>
        <!-- Logo -->
        <div class="justify-self-center min-w-0">
            <StaticBlobs
                    client:idle
                    href="/"
                    className="font-ramose text-7xl font-thin"
                    contentClass="px-6 py-2 rounded-2xl"
                    insetClass="inset-[-2px]"
                    blurClass="blur-md"
                    colors={["bg-yellow-600/20", "bg-pink-500/15", "bg-green-600/20"]}>
                Andreas Roos
            </StaticBlobs>
        </div>

        <!-- links and socials -->
        <div class="flex items-center gap-4 justify-self-end">
        <!-- Links -->
            <div class="flex gap-3">
                <HoverBlobs client:idle href="/projects">Projects</HoverBlobs>
                <HoverBlobs client:idle href="/about">About</HoverBlobs>
                <HoverBlobs client:idle href="/contact">Contact</HoverBlobs>
            </div>

            <!-- Divider -->
            <div class="h-7 w-px bg-gray-700 mx-4"></div>

            <!-- Socials thumbnails -->
            <div class="flex gap-2">
                <HoverBlobs client:idle
                            href="https://github.com/gaurgle/"
                            rel="noopener noreferrer"
                            target="_blank"
                            className="w-7 h-7 rounded-full flex items-center justify-center overflow-visable">
                    <img src="https://cdn.simpleicons.org/github/ffffff"
                         alt="GitHub" width="24" height="24"/>
                </HoverBlobs>

                <HoverBlobs client:idle
                            href="https://www.linkedin.com/in/andreasrooos/"
                            rel="noopener noreferrer"
                            target="_blank"
                            className="w-7 h-7 rounded-full flex items-center justify-center overflow-visable">
                    <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=ffffff"
                         alt="LinkedIn" width="30" height="23"/>
                </HoverBlobs>

            </div>
        </div>
    </nav>
</div>