---
// Banner.astro
import HoverBlobs from "./HibubbaIO/HoverBlobs.tsx";
import StaticBlobs from "./HibubbaIO/StaticBlobs";

const { isHome = false } = Astro.props;
---
<div class="py-6 relative z-40 bg-black">
    <nav class="flex items-center justify-between gap-4 px-4">

        <!-- Spacer -->
        <div class="hidden md:block flex-1"></div>

        { !isHome && (
                <div class="flex-1 md:flex-none text-right md:text-center">
                    <!-- Mobile logo -->
                    <StaticBlobs
                            client:idle
                            href="/"
                            className="font-ramose text-3xl font-thin block md:hidden ml-auto"
                            contentClass="px-3 py-1 rounded-lg"
                            insetClass="inset-[-1px]"
                            blurClass="blur-sm"
                            colors={["bg-yellow-600/20", "bg-pink-500/15", "bg-green-600/20"]}>
                        Roos
                    </StaticBlobs>

                    <!-- Desktop logo -->
                    <StaticBlobs
                            client:idle
                            href="/"
                            className="font-ramose text-3xl font-thin hidden md:block"
                            contentClass="px-6 py-2 rounded-2xl"
                            insetClass="inset-[-2px]"
                            blurClass="blur-md"
                            colors={["bg-yellow-600/20", "bg-pink-500/15", "bg-green-600/20"]}>
                        Andreas Roos
                    </StaticBlobs>
                </div>
        )}
        <div class="md:block h-7 w-px bg-gray-700 mx-4"></div>


        <!-- links and socials -->
        <div class="flex items-center gap-4 justify-self-end">
            <!-- Links -->
            <div class="hidden md:flex gap-3">
                <HoverBlobs client:idle href="/projects">Projects</HoverBlobs>
                <HoverBlobs client:idle href="/about">About</HoverBlobs>
                <HoverBlobs client:idle href="/contact">Contact</HoverBlobs>
            </div>

            <!-- Divider -->
            <div class="hidden md:block h-7 w-px bg-gray-700 mx-4"></div>

            <!-- Socials thumbnails -->
            <div class="flex gap-2">
                <HoverBlobs client:idle
                            href="https://github.com/gaurgle/"
                            rel="noopener noreferrer"
                            target="_blank"
                            className="w-7 h-7 rounded-full flex items-center justify-center overflow-visable">
                    <img src="https://cdn.simpleicons.org/github/ffffff"
                         alt="GitHub" width="25" height="20"/>
                </HoverBlobs>

                <HoverBlobs client:idle
                            href="https://www.linkedin.com/in/andreasrooos/"
                            rel="noopener noreferrer"
                            target="_blank"
                            className="w-7 h-7 rounded-full flex items-center justify-center overflow-visable">
                    <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=ffffff"
                         alt="LinkedIn" width="25" height="20"/>
                </HoverBlobs>

            </div>
        </div>
    </nav>
</div>