---
import BorderBeam from "./HibubbaIO/BorderBeam";
import BlobLink from "./BlobLink.astro";
---
<div class="sticky top-0 z-50 banner border-b-1">
    <nav class="flex justify-center gap-1">

        <BlobLink href="/projects">Projects</BlobLink>
        <BlobLink href="/about">About</BlobLink>
        <BlobLink href="/contact">Contact</BlobLink>

    </nav>
</div>

