---
// Banner.astro
import HoverBlobs from "./HibubbaIO/HoverBlobs.tsx";
---
<div class="sticky top-0 z-50 banner">
    <nav class="flex justify-center gap-4 overflow-visible">
        <HoverBlobs client:idle href="/projects">Projects</HoverBlobs>
        <HoverBlobs client:idle href="/about">About</HoverBlobs>
        <HoverBlobs client:idle href="/contact">Contact</HoverBlobs>
    </nav>
</div>