---
const { href } = Astro.props;
---

<a href={href} class="relative inline-block group px-3 py-1 rounded-lg">
    <!-- Blobs layer -->
    <span class="pointer-events-none absolute inset-0 z-0 opacity-0 scale-95 transition duration-700 ease-out group-hover:opacity-100 group-hover:scale-100">
    <span class="absolute -inset-[2px] rounded-lg blur bg-purple-600/20 mix-blend-multiply dark:mix-blend-screen animate-blob"></span>
    <span class="absolute -inset-[2px] rounded-lg blur bg-yellow-500/20 mix-blend-multiply dark:mix-blend-screen animate-blob" style="animation-delay: 2s;"></span>
    <span class="absolute -inset-[2px] rounded-lg blur bg-pink-600/20 mix-blend-multiply dark:mix-blend-screen animate-blob" style="animation-delay: 1s;"></span>
  </span>

    <!-- Link text -->
    <span class="relative z-10"><slot /></span>
</a>