---
import {ViewTransitions} from "astro:transitions"
import CommonHead from "../components/CommonHead.astro";
import "../styles/global.css";
import Banner from "../components/Banner.astro";
import Sidebar from "../components/Sidebar.astro";
import ParticleBg from "../components/HibubbaIO/ParticleBg";
const {title, description, current = "/"} = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <CommonHead {title}/>
    <title>Portfolio</title>
</head>

<body class="font-sans bg-black text-white">
<ParticleBg client:load className="bg-behind"/>
<ViewTransitions />

<!-- GRID CONTAINER -->
<div
        class="grid h-dvh overflow-hidden
             grid-rows-[auto,1fr]
             grid-cols-[16rem,1fr]  /* <- sidebar width + main */">

    <!-- BANNER -->
    <header class="col-[1/-1] row-[1]">
        <!-- 'sticky' not needed anymore; header doesn't scroll -->
        <div class="sticky top-1 z-50  overflow-visible">
            <Banner/>

        </div>
    </header>

    <!-- SIDEBAR -->
    <aside class="col-[1] row-[2] min-h-0">
        <Sidebar/>
    </aside>


    <!-- MAIN (scrolls; important: min-h-0) -->
    <main class="col-[2] row-[2] min-h-0 overflow-y-auto p-6">
        <!-- CONTENT -->

        <div class="hero mb-4">
            <slot name="hero"/>
        </div>
        <slot/>
    </main>
</div>
</body>
</html>